@charset "utf-8";

html {
    font-size: 16px;
    height: 100vh;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: normal;
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Meiryo",
    sans-serif;
    background: rgb(233,168,227);
    background-image: url(../images/sakura_meguro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: auto;
    overflow: hidden;
}
#container {
    margin: 0;
    line-height: normal;
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Meiryo",
    sans-serif;
    background: rgb(233,168,227);
    background-image: url(../images/omikuji_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: auto;
    overflow: hidden;
}
header {
    padding-top: 20px;
    color: rgba(255,0,212, 0.6);
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(255,255,255,0.65);
}
button {
    width: 80px;
    height: 40px;
    background-color: rgba(255,255,255,0.65);
    margin: 10px auto auto 10px;
    border-radius: 10px;
    font-family: "Helvetica Neue";
}

.wrapper {
    position: relative;
    max-width: 100vw;
    margin: 0;
    padding: 0 0 23px 0;
    text-align: center;
}
.wrapper2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#img-btn {
    width: 100px;
    height: auto;
}
#btn, #btn2 {
    position: relative;
    margin: 20px auto;
    height: 45vh;
    user-select: none;
    cursor: pointer;
    transition: .5s;
}
#btn2 {
    height: 35vh;
}
#btn1 {
    position: relative;
    margin: 20px auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    color: rgb(255,0,212);
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.65);
    background: linear-gradient(#6795fd 0%, #afeeee 100%);
    box-shadow: 0 10px 0 grey;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
#text-btn, #text-btn1 {
    position: relative;
    margin: 10px auto;
    width: 120%;
    transform: translateX(-8%);
    height: 250px;
    line-height: 250px;
    color: rgb(255,0,212);
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(255,255,255,0.65);
    justify-content: center;
    transition: 1s;
}

#btn:active, #btn:active {
    position: relative;
    top: 5px;
    left: 5px;
}
#btn:hover, #btn1:hover, #btn2:hover {
    animation: shaking .3s infinite;
}

button:hover {
    background: linear-gradient(#da70d6 0%, pink 100%);
}

footer > p {
    position: absolute;
    bottom: 5px;
    width: 100%;
    margin: 0px;
    padding: 1px;
    color: whitesmoke;
    font: 16px Rajdhani;
    text-align: center;
    background: rgba(1,24,31,0.7);
}
.shutter {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    margin: 0em;
    padding: 0em;
    background-color: #1e1e1e;
    animation: byeShutter 2.5s forwards;
}
.shutter::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    margin: auto;
    background-color: #fff;
    animation: shutterOpen 2.5s forwards;
}
@keyframes byeShutter {
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
        z-index: -1;
    }
}
@keyframes shutterOpen {
    0% {
        width: 0;
        height: 0.05em;
    }
    50% {
        width: 100%;
        height: 0.05em;
    }
    90% {
        width: 100%;
        height: 100%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}
@keyframes shaking {
    0%{transform: translate(0px, 0px) rotateZ(0deg);}
    25%{transform: translate(2px, 2px) rotateZ(1deg);}
    50%{transform: translate(0px, 2px) rotateZ(0deg);}
    75%{transform: translate(2px, 0px) rotateZ(-1deg);}
    100%{transform: translate(0px, 0px) rotateZ(0deg);}
}

 
/* -----------------------Responsive for mobile------------------------ */
@media screen and (max-width: 480px) {
    header {
        font-size: 35px;
        height: 20vh;
    }
    body {
        background-position: 50% 0%;
        background-size: auto 812px;
    }
    #btn, #btn1, #btn2 {
        margin: 0 auto;
    }
    #text-btn {
        position: absolute;
        bottom: -182px;
        left: 50%;
        transform: translateX(-50%);
    }
    #btn:active, #btn1:active, #btn2:active {
        position: relative;
        top: 5px;
        left: 5px;
    }
    #img-btn {
        width: 90px;
        height: auto;
    }
}

/*------------------- Responsive for iphone 5/SE ------------------*/
@media screen and (max-width: 320px) {
    header {
        padding-top: 0px;
        margin: 0px;
        font-size: 30px;
    }
    #img-btn {
        width: 75px;
        height: auto;
    }
}